/server/node_modules
/server/dist
/server/.env
/server/.env.local
/server/.env.development
/server/.env.production


/client/node_modules
/client/dist
/client/.env
/client/.env.local
/client/.env.development
/client/.env.production
/.vscode
/.DS_Store
/.idea
/.history